@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #0B0F0A;
  --text-color: #F2FFE9;
  --accent-1: #B4FF39;
  --accent-2: #39FF88;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: monospace;
}

a {
  color: var(--accent-1);
}
a:hover {
  color: var(--accent-2);
}
